In [21]:
import copy
import functools
import string
l=[1,2,3]
l_shallow = l
l_deep = copy.deepcopy(l)
l_shallow[1]=4
l, l_shallow, l_deep

([1, 4, 3], [1, 4, 3], [1, 2, 3])

In [15]:
l, l_shallow, l.index(2)

([1, 2, 3], 1)

In [9]:
string.hexdigits

'0123456789abcdefABCDEF'

In [14]:
string.hexdigits[10].upper()

'A'

In [25]:
l = [ False, True, True]
{ 'all' : all( l ), 'any' : any( l) }

{'all': False, 'any': True}

In [32]:
ascii(3), ascii('a'), ord('0') + 1, chr(ord('0') +1 ), ascii(1)

('3', "'a'", 49, '1', '1')

In [34]:
l = [1,2,3]
list( map( lambda x : 10* x, l ) )

[10, 20, 30]

In [35]:
l = ['sat', 'bat', 'cat', 'mat'] 
  
# map() can listify the list of strings individually 
test = list(map(list, l)) 
test

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [40]:
w = 'sat'
list( map(str, w) )

['s', 'a', 't']

In [41]:
[ c for c in w ]

['s', 'a', 't']

In [43]:
# filter list for items not divisible by 2 and 3 
list( filter(lambda x: x%2!=0 and x%3!=0, range(2, 15)) )

[5, 7, 11, 13]