In [1]:
import copy
import functools
import string
import itertools
l=[1,2,3]
l_shallow = l
l_deep = copy.deepcopy(l)
l_shallow[1]=4
l, l_shallow, l_deep

([1, 4, 3], [1, 4, 3], [1, 2, 3])

In [3]:
l, l_shallow, l.index(4)

([1, 4, 3], [1, 4, 3], 1)

In [9]:
string.hexdigits

'0123456789abcdefABCDEF'

In [14]:
string.hexdigits[10].upper()

'A'

In [25]:
l = [ False, True, True]
{ 'all' : all( l ), 'any' : any( l) }

{'all': False, 'any': True}

In [32]:
ascii(3), ascii('a'), ord('0') + 1, chr(ord('0') +1 ), ascii(1)

('3', "'a'", 49, '1', '1')

In [34]:
l = [1,2,3]
list( map( lambda x : 10* x, l ) )

[10, 20, 30]

In [35]:
l = ['sat', 'bat', 'cat', 'mat'] 
  
# map() can listify the list of strings individually 
test = list(map(list, l)) 
test

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [40]:
w = 'sat'
list( map(str, w) )

['s', 'a', 't']

In [41]:
[ c for c in w ]

['s', 'a', 't']

In [44]:
# filter list for items not divisible by 2 and 3 
list( filter(lambda x: x%2!=0 and x%3!=0, range(2, 15)) )

[5, 7, 11, 13]

In [45]:
key = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
key.index('D')

3

In [47]:
def spread_sheet_column_to_int( column:str) -> int :
    ''' return zero one based column name to column number conversion '''
    key = '~ABCDEFGHIJKLMNOPQRSTUVWXYZ'

    result=0
    for c in column :
        result = result * 26 + key.index(c)

    return result

In [49]:
spread_sheet_column_to_int( 'AA'), spread_sheet_column_to_int( 'ZZ')

(27, 702)

In [59]:
s='1122233'
for key, group in itertools.groupby(s) :
    print( key, list( group) )

1 ['1', '1']
2 ['2', '2', '2']
3 ['3', '3']

In [64]:
key = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
list( reversed(key) )

['Z',
 'Y',
 'X',
 'W',
 'V',
 'U',
 'T',
 'S',
 'R',
 'Q',
 'P',
 'O',
 'N',
 'M',
 'L',
 'K',
 'J',
 'I',
 'H',
 'G',
 'F',
 'E',
 'D',
 'C',
 'B',
 'A']

In [5]:
class ListNode :

    def __init__(self, data=0, nxt=None):
        self.data = data
        self.next = nxt

def search_list(l: ListNode, key:int) -> ListNode :

   while l and l.data !=key :
       l = l.next

    return l

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 12)